*{
	margin: 0;
	padding: 0;
}
/*Merubah background*/
body{
	background-color: rgba(0,0,0,0.1);
	font-family: sans-serif;
}
/*memrubah tampilan dengan class nav*/
.nav {
	background-color: #acacac;
}
.nav ul {
	width: 80%;
	margin: 0 auto;
}
.nav ul li {
	display: inline-block;
	list-style: none;
	padding:  16px;
}
.nav ul li:hover {
	background-color: rgba(0,0,0,0.7);
}
.nav ul li a{
	text-decoration: none;
	font-size: 20px;
	color: #fff;
}
.navbar-responsive {
	width: 100%;
	padding: 16px;
	background-color: #222;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	display: none;
}
/* css navbar-brand-responsive*/
.header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background-color: #acacac;
	width: 100%;
	box-sizing: border-box;
}
.header .brand {
	color: #222;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
	float: left;
}
.header  nav{
	float: right;
	
}
.header nav ul {
	display: flex;
	margin: 0;
	padding: 0;
}
.header nav ul li {
	list-style: none;
}
.header nav ul li a {
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding: 0 20px;
	font-size: 18px;
	text-decoration: none;
	display: block;
}
.header nav ul li a:hover,.header nav ul li a.active {
	color: red;
	background-color: rgba(0,0,0,0.7);
}
.header .menu-toggle{
	float: right;
	padding-top: 12px;
	cursor: pointer;
	display: none;
}
@media(max-width: 768px){
	.navbar-responsive {
		display: block;
	}
	.nav ul {
		width: 100%;
		display: none;
	}
	.nav ul li {
		display: block;
		text-align: center;
	}
	.nav ul li:hover {
		background-color:#009999;
	}
	/*class add yang natinya ditambahkan ke ul*/
	.nav .add {
		display: block;
	}
	/* css navbar-brand-responsive*/
	.header {
		padding: 0 10px;
	}
	.header nav {
		display: none;
		transition: 0.5s;
		position: absolute;
		width: 100%;
		height: calc(50vh-50px;);
		top:50px;
		left:0;
		background-color: rgba(0,0,0,.5);
	}
	.header nav.active{
		display: block;
	}
	.header nav ul {
		display: block;
		text-align: center;
	}
	.header nav ul li a {
		border-bottom: 1px solid #fff;
	}
	.header .menu-toggle{
		display: block;
	}
}